body {
  --ion-background-color: rgb(245, 245, 245);
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

ion-chip {
  background-color: transparent;
}

ion-chip ion-icon {
  color: #4f83f7;
}

ion-input {
  border: solid 1px;
}

ion-input:focus-within {
  border: solid 1px #4f8ef7;
}

ion-button {
  color: white;
  background: #4f83f7;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

ion-col p {
  margin-left: 0px;
}
