ion-icon,
ion-label {
  margin: 0.2em;
}

ion-card-content {
  white-space: pre-line;
}

.showText {
  height: 100%;
  overflow: unset;
}

.hideText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.imageThumbnail {
  max-width: 250px;
  margin: auto;
  padding-bottom: 15px;
  max-height: 250px;
}

.image {
  max-width: 600px;
  margin: auto;
  padding-bottom: 15px;
  max-height: 600px;
}
