ion-icon,
ion-label {
  margin: 0.2em;
}

ion-card-content {
  white-space: pre-line;
}

.showText {
  height: 100%;
  overflow: unset;
}

.hideText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.collapsed-image-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-height: 500px;
  margin-bottom: 20px;
}

.expanded-image-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.post-image {
  margin: auto;
}
